.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  height: 68px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, transparent);
}

.scrolled {
  background-color: #141414;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navRight {
  display: flex;
  align-items: center;
}
