.heroImage {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    #141414 0%,
    transparent 70%,
    rgba(0, 0, 0, 1) 100%
  );
  transition: all 1s ease-in-out;
}

.vignette::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    #141414 0%,
    transparent 70%,
    rgba(0, 0, 0, 1) 100%
  );
  transition: all 1s ease-in-out;
  opacity: 0;
}

.vignette[data-is-scrolled="true"]::before {
  backdrop-filter: blur(2px);
  opacity: 1;
}
