<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Root Config</title>

    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    /> -->

    <meta name="importmap-type" content="systemjs-importmap" />
    <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
    <!-- More info at https://github.com/single-spa/import-map-overrides/blob/main/docs/configuration.md#domain-list -->
    <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

    <!-- Shared dependencies go into this import map -->
    <script type="systemjs-importmap">
      {
        "imports": {
          "react": "https://cdn.jsdelivr.net/npm/react@19.1.0/jsx-runtime.min.js",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@19.1.0/index.min.js",
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@6.0.3/lib/es2015/system/single-spa.min.js"
        }
      }
    </script>

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@6.0.3/lib/es2015/system/single-spa.min.js"
      as="script"
    />

    <!-- Add your organization's prod import map URL to this script's src  -->
    <!-- <script type="injector-importmap" src="/importmap.json"></script> -->

    <% if (!isLocal) { %>
    <script
      type="systemjs-importmap"
      src="https://storagemfe.blob.core.windows.net/mfe-params/params-shell/import-map.json"
    ></script>
    <% } else { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@techschool/root-config": "//localhost:9001/techschool-root-config.js",
          "@techschool/params-mfe": "https://storagemfe.blob.core.windows.net/mfe-params/params-shell/params-mfe.js",
          "@techschool/params-shell": "https://storagemfe.blob.core.windows.net/mfe-params/params-shell/params-shell.js",
          "@techschool/mfe-navbar": "//localhost:2023/techschool-mfe-navbar.js",
          "@techschool/mfe-hero-banner": "//localhost:2024/techschool-mfe-hero-banner.js",
          "@techschool/mfe-movies-categories": "//localhost:2025/techschool-mfe-movies-categories.js",
          "@techschool/mfe-footer": "//localhost:2026/techschool-mfe-footer.js",
          "@techschool/mfe-movie-detail": "//localhost:2029/techschool-mfe-movie-detail.js"
        }
      }
    </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>
  </head>
  <body class="main-shell">
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <header>
      <application
        id="single-spa-application:@techschool/mfe-navbar"
      ></application>
    </header>
    <main>
      <application
        id="single-spa-application:@techschool/mfe-hero-banner"
      ></application>

      <application
        id="single-spa-application:@techschool/mfe-movies-categories"
      ></application>

       <application
        id="single-spa-application:@techschool/mfe-movie-detail"
      ></application>
   
      <application
        id="single-spa-application:@techschool/mfe-footer"
      ></application>
    </main>
    <script>
      System.import("@techschool/root-config");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
